<h1 align="center"> T20 World Cup Cricket Data Pre Processing </h1>

In [1]:
import pandas as pd

In [6]:
# import os
# current_directory = os.getcwd()
# print(f"Current working directory: {current_directory}")
df_match = pd.read_csv("../RawCsv_2024/match_data.csv")
df_match.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,India,South Africa,India,7 runs,Bridgetown,6/29/2024,T20I # 2729
1,England,India,India,68 runs,Providence,6/27/2024,T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,6/26/2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,6/24/2024,T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,6/24/2024,T20I # 2721

In [7]:
df_match.shape

(52, 7)

In [9]:
df_match.rename(columns={'Scorecard': 'Match_Id'}, inplace = True)
df_match.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_Id
0,India,South Africa,India,7 runs,Bridgetown,6/29/2024,T20I # 2729
1,England,India,India,68 runs,Providence,6/27/2024,T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,6/26/2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,6/24/2024,T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,6/24/2024,T20I # 2721

**Create a match ids dictionary that maps team names to a unique match id. This will be useful later on to link with other tables**

In [10]:
df_match.columns = df_match.columns.str.lower()
df_match.head()

,team 1,team 2,winner,margin,ground,match date,match_id
0,India,South Africa,India,7 runs,Bridgetown,6/29/2024,T20I # 2729
1,England,India,India,68 runs,Providence,6/27/2024,T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,6/26/2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,6/24/2024,T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,6/24/2024,T20I # 2721

In [11]:
df_match.rename(columns={'team 1': 'team1','team 2': 'team2'}, inplace = True)
df_match.head()

,team1,team2,winner,margin,ground,match date,match_id
0,India,South Africa,India,7 runs,Bridgetown,6/29/2024,T20I # 2729
1,England,India,India,68 runs,Providence,6/27/2024,T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,6/26/2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,6/24/2024,T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,6/24/2024,T20I # 2721

In [12]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

In [13]:
df_match.to_csv('../t20_csv_files/dim_match_summary_2024.csv', index = False)

<h4 style="color:blue">Process Batting Summary</h4>

In [14]:
df_batting = pd.read_csv("../RawCsv_2024/batting_data.csv")
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,IndiaVsSouthAfrica,India,1,Rohit Sharma,9,5,2,0,180,out,T20I # 2729
1,IndiaVsSouthAfrica,India,2,Virat Kohli,76,59,6,2,128.81,out,T20I # 2729
2,IndiaVsSouthAfrica,India,3,Rishabh Pant,0,2,0,0,0,out,T20I # 2729
3,IndiaVsSouthAfrica,India,4,Suryakumar Yadav,3,4,0,0,75,out,T20I # 2729
4,IndiaVsSouthAfrica,India,5,Axar Patel,47,31,1,4,151.61,out,T20I # 2729

In [15]:
df_batting.shape

(852, 11)

In [16]:
df_batting.to_csv('../t20_csv_files/fact_bating_summary2024.csv', index = False)

<h4 style="color:blue">Process Bowling Summary</h4>

In [20]:
df_bowling = pd.read_csv("../RawCsv_2024/bowling_data.csv")
df_bowling.head(20)

,match,bowlingTeam,bowlerName,overs,balls,Maidens,Runs,Wickets,ECON,0s,4s,6s,Wides,NoBalls,Match_ID,total_balls
0,IndiaVsSouthAfrica,South Africa,Marco Jansen,4,0,0,49,1,12.25,4,5,2,1,1,T20I # 2729,24
1,IndiaVsSouthAfrica,South Africa,Keshav Maharaj,3,0,0,23,2,7.66,10,3,1,0,0,T20I # 2729,18
2,IndiaVsSouthAfrica,South Africa,Kagiso Rabada,4,0,0,36,1,9.00,8,2,2,2,0,T20I # 2729,24
3,IndiaVsSouthAfrica,South Africa,Aiden Markram,2,0,0,16,0,8.00,1,0,1,0,0,T20I # 2729,12
4,IndiaVsSouthAfrica,South Africa,Anrich Nortje,4,0,0,26,2,6.50,7,2,0,2,0,T20I # 2729,24
5,IndiaVsSouthAfrica,South Africa,Tabraiz Shamsi,3,0,0,26,0,8.66,4,1,1,1,0,T20I # 2729,18
6,IndiaVsSouthAfrica,India,Arshdeep Singh,4,0,0,20,2,5.00,12,2,0,0,0,T20I # 2729,24
7,IndiaVsSouthAfrica,India,Jasprit Bumrah,4,0,0,18,2,4.50,14,2,0,0,0,T20I # 2729,24
8,IndiaVsSouthAfrica,India,Axar Patel,4,0,0,49,1,12.25,8,5,3,2,0,T20I # 2729,24
9,IndiaVsSouthAfrica,India,Kuldeep Yadav,4,0,0,45,0,11.25,6,3,3,0,0,T20I # 2729,24
10,IndiaVsSouthAfrica,India,Hardik Pandya,3,0,0,20,3,6.66,9,1,1,1,1,T20I # 2729,18
11,IndiaVsSouthAfrica,India,Ravindra Jadeja,1,0,0,12,0,12.00,0,0,1,0,0,T20I # 2729,6
12,EnglandVsIndia,England,Reece Topley,3,0,0,25,1,8.33,8,3,1,0,0,T20I # 2724,18
13,EnglandVsIndia,England,Jofra Archer,4,0,0,33,1,8.25,7,4,0,0,0,T20I # 2724,24
14,EnglandVsIndia,England,Sam Curran,2,0,0,25,1,12.50,3,2,2,0,0,T20I # 2724,12
15,EnglandVsIndia,England,Adil Rashid,4,0,0,25,1,6.25,9,3,0,0,0,T20I # 2724,24
16,EnglandVsIndia,England,Chris Jordan,3,0,0,37,3,12.33,4,0,4,0,0,T20I # 2724,18
17,EnglandVsIndia,England,Liam Livingstone,4,0,0,24,0,6.00,9,1,1,1,0,T20I # 2724,24
18,EnglandVsIndia,India,Arshdeep Singh,2,0,0,17,0,8.50,5,3,0,0,0,T20I # 2724,12
19,EnglandVsIndia,India,Jasprit Bumrah,2,4,0,12,2,4.50,8,1,0,0,0,T20I # 2724,16

In [21]:
df_bowling.to_csv('../t20_csv_files/fact_bowling_summary2024.csv', index = False)

<h4 style="color:blue">Process Players Information</h4>

In [22]:
df_players = pd.read_csv("../RawCsv_2024/players_data.csv")
df_players.head(20)

,TeamName,PlayerName,Image,BatingStyle,BowlingStyle,PlayingRole,Description
0,Afghanistan,Mohammad Nabi,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm off spin,All-rounder,NaN
1,Afghanistan,Gulbadin Naib,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm fast-medium,Batting all-rounder,NaN
2,Afghanistan,Rahmanullah Gurbaz,https://static.cricbuzz.com/a/img/v1/152x152/i...,Right-handed,Right-arm medium,"Top-order batter, Wicket-keeper",NaN
3,Afghanistan,Naveen-ul-Haq,https://c.ndtvimg.com/2023-04/t8obveto_naveen-...,Right-handed,Right-arm medium-fast,Bowler,NaN
4,Afghanistan,Azmatullah Omarzai,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm fast-medium,All-rounder,NaN
5,Afghanistan,Ibrahim Zadran,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm medium-fast,Opening batter,NaN
6,Afghanistan,Fazalhaq Farooqi,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Left-arm fast,Bowler,NaN
7,Afghanistan,Karim Janat,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm medium-fast,Bowling all-rounder,NaN
8,Afghanistan,Rashid Khan,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm leg break,Bowling All-rounder,NaN
9,Afghanistan,Noor Ahmad,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed[a],Left-arm unorthodox spin,Bowler,NaN
10,Afghanistan,Najibullah Zadran,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left-handed,Right-arm off break,Middle-order batter,NaN
11,Afghanistan,Mujeeb Ur Rahman,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm off break,Bowler,NaN
12,Afghanistan,Hazratullah Zazai,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left-handed,Slow left-arm orthodox,Opening batter,NaN
13,Afghanistan,Nangeyalia Kharote,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left-handed,Slow left-arm orthodox,Bowler,NaN
14,Australia,Glenn Maxwell,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm off break,Batting-all rounder,NaN
15,Australia,Mitchell Marsh,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm medium,All-rounder,NaN
16,Australia,David Warner,https://static.cricbuzz.com/a/img/v1/152x152/i...,Left Handed Bat,Right-arm legbreak,Batsman,NaN
17,Australia,Nathan Ellis,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right-handed,Right-arm fast-medium,Bowler,NaN
18,Australia,Ashton Agar,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left-handed,Slow left-arm orthodox,Allrounder,NaN
19,Australia,Travis Head,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left-handed,Right-arm off break,Top-order batter,NaN

In [24]:
df_players.to_csv('../t20_csv_files/dim_players2024.csv', index = False)